<div class="container">
   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4>Update Hotel</h4>
        <div class="hotel-prop">
            <label for="">Hotel Name</label>
            <span *ngIf="form.get('Name')?.touched && !form.get('Name')?.valid "
            ><i class="poppins-italics">Hotel name Required!!</i></span>
            <input type="text"     formControlName="Name">
        </div>
        <div class="hotel-prop">
            <label for="">Hotel Location</label>
            <span *ngIf="form.get('Location')?.touched && !form.get('Location')?.valid "
            ><i class="poppins-italics">*Hotel locationRequired!!</i></span>
            <input type="text"    formControlName="Location">
        </div>

        <div class="hotel-prop">
            <span *ngIf="form.get('StarRating')?.touched && !form.get('StarRating')?.valid "
            ><i class="poppins-italics">*star ratingRequired!!</i></span>
            <label for="">Star Rating</label>
            <input type="number"    formControlName="StarRating">
        </div>


        <button [disabled]="!form.valid">Update</button>
    </form>
</div>