<div class="header">All Bookings</div>

<div class="container">

    <div class="hotel-card">
        <img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGhvdGVsfGVufDB8fDB8fHww"
            alt="">
        <div class="hotel-details">
            <div>
                <h4>Tour</h4>
                <p class="hotel-name">The Rift Valley Tours</p>
                <p class="hotel-destination">Kenya</p>
                <h4>Hotel</h4>
                <p class="hotel-name">The Awsome  Valley Hotel</p>
               <p>Ksh 15000</p>
            </div>   
          
            <div class="buttons">
                <button class="hotel-delete">Delete</button>
                <button class="hotel-update">Update</button>
            </div>
        </div>
    </div>

</div>