<h4>All hotels</h4>
<div class="container">
         <div class="hotel">
            <img src="https://images.unsplash.com/photo-1644154364619-40fa665fe024?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHJpZnQlMjB2YWxsZXl8ZW58MHx8MHx8fDA%3D"
                alt="">
            <div class="hotel-details">
                <p class="hotel-name">The Awesome Hotel</p>
                <p class="hotel-destination">Kenya</p>
                
                    <div class="hotel-rating">
                        <img src="../../assets/star.svg" alt="star">
                        <img src="../../assets/star.svg" alt="star">
                        <img src="../../assets/star.svg" alt="star">
                        <img src="../../assets/star.svg" alt="star">
                    </div>
                 
                        <div class="buttons">
                            <button class="hotel-delete">Delete</button>
                            <button class="hotel-update">Update</button>
                        </div>
            </div>
        </div>
        
</div>