form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    gap: 10px;
    margin-bottom: 50px;
}
form input {
    padding: 8px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

span{
    font-size: 12px;
    color: red;
}h4 {
    width: 40%;
    text-align: center;
    margin: auto;
}
.container{
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}