<div class="container">
   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4>Update Booking</h4>
        <div class="tour-prop">
            <label>Tour Name: </label>
            <input type="hidden" formControlName="TourId" [value]="">
          </div>
          
        <div class="tour-prop">
            <select formControlName="HotelId" id="hotels">
              <option selected  disabled>Select a Hotel For the Tour</option>
              <option ></option>
            </select>
            <span *ngIf="form.get('HotelId')?.touched && !form.get('HotelId')?.valid">
              <i class="poppins-italics">*Hotel selection is required!!</i>
            </span>
          </div>

        <div class="tour-prop">
            <span *ngIf="form.get('BookingDate')?.touched && !form.get('BookingDate')?.valid "
            ><i class="poppins-italics">*star ratingRequired!!</i></span>
            <label for="">Booking Date</label>
            <input type="date"    formControlName="BookingDate">
        </div>


        <button>Update Booking</button>
        <button class="tour-delete">Cancel Booking</button>

    </form>
</div>