<div class="container">
    <table>
        <thead>
            <tr>
                <td>User</td>
                <td>Role</td>
                <td>Update Role</td>
                <td>Delete User</td>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <td>{{user.Name}}</td>
                <td>Role</td>
                <td><button>Change Role</button></td>
                <td><button (click)="deleteUser(user.Id)">Delete User</button></td>
            </tr>
        </tbody>
    </table>
</div>