<div class="container">
   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p *ngIf="(successMessage$|async)"
        >{{successMessage$ | async}}</p>
        <h4>Add Tour</h4>
        <p *ngIf="(errorMessage$|async)"
        >{{errorMessage$ | async}}</p>
        <div class="tour-prop">
            <label for="">Tour Name</label>
            <span *ngIf="form.get('Name')?.touched && !form.get('Name')?.valid "
            ><i class="poppins-italics">*Tour Name Required!!</i></span>
            <input type="text"     formControlName="Name">
        </div>
        <div class="tour-prop">
            <label for="">Tour Destination</label>
            <span *ngIf="form.get('Destination')?.touched && !form.get('Destination')?.valid "
            ><i class="poppins-italics">*Tour Destination Required!!</i></span>
            <input type="text"    formControlName="Destination">
        </div>

        <div class="tour-prop">
            <span *ngIf="form.get('Description')?.touched && !form.get('Description')?.valid "
            ><i class="poppins-italics">*Tour Description Required!!</i></span>
            <label for="">Tour Description</label>
            <input type="text"    formControlName="Description">
        </div>

        <div class="tour-prop">
            <span *ngIf="form.get('Price')?.touched && !form.get('Price')?.valid "
            ><i class="poppins-italics">*Tour Price Required!!</i></span>
            <label for="">Tour Price</label>
            <input type="number"    formControlName="Price">
        </div>


        <button [disabled]="!form.valid">Submit</button>
    </form>
</div>